<h1> Story show page </h1>
<h1>  </h1>
<center><%= @story.name %></center>
<center><%= @story.description %></center>
<center><%  @story.chapters.each do |chapter|%>
  <%= chapter.name %>
   <img src="<%= chapter.image%>" style=“width:400px;height:500px">
   <%= link_to "lets add chapters in that story", new_chapter_path  %>
<% end %>
