<div class="story_show_page">
  <h1><%= @story.name %></h1>
  <%= @story.description %><br>
  <div class="button"><%= link_to "Add more chapters",  new_chapter_path %></div>
  <div class="button"><%= link_to "Delete this story", story_path(@story), method: :delete %></div>
</div>

<div class="grid-container">
  <%  @story.chapters.each do |chapter|%>
    <div class="grid-item">
      <%= chapter.name %><br>
      <br>
      <img src="<%= chapter.image%>" style=“width:400px; height:500px"><br>
      <%= button_to "Delete this chapter", chapter_path, method: :delete %>
    </div>
  <% end %>
</div>
