<!DOCTYPE html>
<html>
  <head>
    <title>StoryVerse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <header>

          <% if @logged_in %>

            <ul class='test'>
              <li>
                <%= link_to "All stories", stories_path%>
              </li>
              <li>
                <%= link_to "All chapters", chapters_path %>
              </li>
              <li>
                <%= link_to "Log Out", "/auth", method: :delete %>
              </li>
            </ul>
          <% else %>
            <ul>
            <li>
              <%= link_to "Login", "/login" %>
            </li>
            <li>
              <%= link_to "Register", new_user_path %>
            </li>
            </ul>
          <% end %>

          <% if flash[:message] %>
            <p class="message">
              <%= flash[:message] %>
            </p>
          <% end %>

        </header>
        <%= yield %>
  </body>
</html>
